
        <div class="content-wrapper" style="padding: 15px">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        
        <footer class="footer">
            <div class="container-fluid">
                <strong>Copyright &copy; 2010-2023
                    <a href="http://elite-business.net">Elite Business</a>.
                </strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block"><b>Version</b> 2.5.0</div>
            </div>
        </footer>
        